/bumblebee/bumblebee-3.2.1-12-x86_64.pkg.tar.xz
/bumblebee/bumblebee-3.2.1.tar.gz
/bumblebee/pkg
/bumblebee/src
/lib32-caps/caps_0.9.24.tar.bz2
/lib32-caps/lib32-caps-0.9.24-2-x86_64.pkg.tar.xz
/lib32-caps/pkg
/lib32-caps/src
/lib32-alsaequal/src
/lib32-alsaequal/pkg
/lib32-alsaequal/alsaequal-0.6.tar.bz2
/lib32-alsaequal/lib32-alsaequal-0.6-14-x86_64.pkg.tar.xz
